.wrapper {
    width: 20px;
    height: 20px;
    border: 1px solid #FF5733;
    font-size: 17px;
    text-align: center;
    display: inline-block;
}

.wrapper:hover {
    cursor: pointer;
}

.wrapper:active {
    animation: highlightCell 1000ms ease-out;
}
  
.wrapper:empty {
    animation: resetCell 2000ms ease-out;
}

@keyframes highlightCell {
    0% {
        background-color: #FFFF8A;
    }
    100% {
        background-color: inherit;
    }
}

@keyframes resetCell {
    0% {
        background-color: #A3A300;
    }
    100% {
        background-color: inherit;
    }
}